* { /* Обращение ко всем элементам на странице */
    padding: 0; /* Удаление внутренних отступов */
    margin: 0; /* Удаление внешних отступов */
    box-sizing: border-box; /* Вычитание padding из конечной ширины и высоты блоков на сайте */
}

body { /* Обращение к блоку body(контенту сайта) на странице */
    min-height: 100vh; /* Задаём минимальную высоту экрана равной высоте окна браузера */
    display: flex; /* Делаем наш экран более "гибким" */
    flex-direction: column; /* Перевод контента экрана от горизонтального(строчного) позиционирования в вертикальный(колоночный) */
}

main { /* Обращение к основному блоку на странице */
    flex: 1; /* Так как наш body "гибкий" мы можем настроить и отдать блоку большую часть места на экране */
}

header, footer { /* Обращение к шапке и подвалу на старице */
    background: darkgreen; /* Выдача заднего фона */
    padding: 8px; /* Выдача внутренних отступов */
}

footer { /* Обращение к подвалу на старице */
    display: flex; /* Делаем наш экран более "гибким" */
    justify-content: center; /* Выравниваем элемента по вертикали */
    color: #fff; /* Даём тексту цвет */
}

header .container { /* Обращение к шапке внутри которого есть блок с классом "container" на старице */
    display: flex; /* Делаем наш экран более "гибким" */
    justify-content: space-between; /* Выравниваем элемента по вертикали (в этот раз равноудалённо друг от друга) */
    align-items: center; /* Выравниваем элемента по горизонтали */
}

.container { /* Обращение к блоку с классом "container" на старице */
    width: 1200px; /* Задаём фиксированную ширину блока */
    margin: 0 auto; /* С помощью данной комбинации внешних отступов центруем элемент */
}

a { /* Обращение ко всем ссылкам на старице */
    color: #fff; /* Даём тексту цвет */
    text-decoration: none; /* Убираем нижнее подчёркивание у ссылки */
    font-size: 18px; /* Выдаём размер текста */
}

nav { /* Обращение к элементу навигации */
    display: flex; /* Делаем наш экран более "гибким" */
    gap: 12px; /* Выдаём отступ между flex элементами */
}

.form_page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_page form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
}

input[type=file] {
    display: none;
}

.btn {
    background: darkgreen;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
    outline: none;
    border: none;
}